{% load static i18n %}
<!DOCTYPE html>
<html lang="fr-FR">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  

    <title>DISCOM - {% block title %}  {% endblock title %}</title>

    <!-- Favicon -->
    <link href="/static/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style>
        html{
            scroll-behavior: smooth;
        }
        body{
            overflow-x: hidden !important;
        }
        @keyframes animate {
            0%{
                width: 45px;
                height: 45px;
            }
            50%{
                width: 48px;
                height: 48px;
            }
            100%{
                width: 45px;
                height: 45px;
            }
        }

        #button_whatsapp{
            animation: animate infinite 2s;
        }
        a.whatsapp{
            left: 10px;
            bottom: 50px;
            z-index: 99;
            position: fixed;
        }
        #dismiss-modal{
            position: absolute;
            right: 0 !important;
        }
        @media (max-width: 576px) {
            .whatsapp{
                left: 15px;
            }
            #header-carousel .carousel-item{
                height: 300px !important;
            }
            #header-carousel img{
                height: 100% !important;
            }
            #header-carousel .carousel-caption>div{
                padding: 1rem 0.2rem !important;
            }
        }
    </style>
    {% block css %}  {% endblock css %}
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div> 
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>Akwa, Douala, {% trans 'Cameroun' %}</small>
                    <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>+237 694 223 136</small>
                    <small class="text-light"><i class="fa fa-envelope-open me-2"></i>contact@discom-group.com</small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-twitter fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i class="fab fa-youtube fw-normal"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar & Carousel Start -->
    <div class="container-fluid position-relative p-0" id="home">
        <nav class="navbar navbar-expand-lg navbar-dark pe-3 px-lg-5 py-lg-0">
            <a href="{% url 'site:home' %}" class="navbar-brand p-0">
                <img class="m-0" src="{% static 'img/logo.png' %}" alt="DISCOM logo" width="200">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="#home" class="nav-item nav-link">{% trans 'Accueil' %}</a>
                    <a href="#about-us" class="nav-item nav-link">{% trans 'A propos' %}</a>
                    <a href="#our-services" class="nav-item nav-link">{% trans 'Services' %}</a>
                    <a href="#choose-us" class="nav-item nav-link">{% trans 'Nous choisir' %}</a>
                    <a href="#contact-us" class="nav-item nav-link">{% trans 'Contactez-nous' %}</a>
                </div>
            </div>
        </nav>

        <div id="header-carousel" class="carousel slide carousel-fade">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/hero.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h5 class="text-white text-uppercase text-secondary mb-3 animated slideInDown">{% trans 'Votre partenaire de transformation digitale' %}</h5>
                            <h1 class="display-3 text-white text-uppercase mb-md-4 animated zoomIn">{% trans 'Digital Solutions & Services Company SARL' %}</h1>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-secondary py-md-3 px-md-5 me-3 animated slideInLeft">{% trans 'Devis gratuit' %}</button>
                            <a href="tel:+237694223136" class="btn btn-primary py-md-3 px-md-5 animated slideInRight">{% trans 'Contactez-nous' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-primary rounded d-flex align-items-center p-md-2 wow zoomIn" data-wow-delay="0.2s">
                    <button type="button" id="dismiss-modal" class="btn bg-primary" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-square" style="color: #000; font-size:20px"></i></button>
                    <form id="request-quote-form" method="post" class="px-lg-0">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">{% trans 'Demander un devis' %}</h1>
                        </div>
                        <div id="resultat" class="m-2 text-danger"></div>
                        <div class="modal-body row g-md-3 g-3">
                            {{ request_quote_form.as_div }}
                            <div class="col-12">
                                <button class="btn btn-secondary w-100 py-2 py-lg-3" type="submit" onclick="validateForm()">{% trans 'Demander un devis' %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Carousel End -->

    
    {% block content %}
      
    {% endblock content %}
      


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container-fluid">
            <div class="row gx-5">
                <div class="col-lg-4 col-md-6 footer-about">
                    <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-light p-4">
                        <a href="{% url 'site:home' %}" class="navbar-brand">
                            <img class="m-0" src="{% static 'img/logo.png' %}" alt="DISCOM logo" width="200">
                        </a>
                        <p class="mt-3 mb-4 text-dark">
                            
                            {% blocktrans %}
                                DISCOM, expert en digital, sécurité, électricité et énergie solaire, propose des solutions sur mesure. Fiabilité, expertise et satisfaction client sont nos priorités.
                            {% endblocktrans %}
                            
                        </p>
                        <!-- <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control border-white p-3" placeholder="Your Email">
                                <button class="btn btn-dark">Sign Up</button>
                            </div>
                        </form> -->
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="row gx-5">
                        <div class="col-lg-4 col-md-12 pt-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">{% trans 'Nous contacter' %}</h3>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-geo-alt text-primary me-2"></i>
                                <p class="mb-0">Akwa, Douala, {% trans 'Cameroun' %}</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-envelope-open text-primary me-2"></i>
                                <p class="mb-0">contact@discom-group.com</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-telephone text-primary me-2"></i>
                                <p class="mb-0">+237 694 223 136</p>
                            </div>
                            <div class="d-flex mt-4">
                                <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">{% trans 'Liens rapides' %}</h3>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start">
                                <a class="text-light mb-2" href="#home"><i class="bi bi-arrow-right text-primary me-2"></i>{% trans 'Accueil' %}</a>
                                <a class="text-light mb-2" href="#about-us"><i class="bi bi-arrow-right text-primary me-2"></i>{% trans 'A propos' %}</a>
                                <a class="text-light mb-2" href="#our-services"><i class="bi bi-arrow-right text-primary me-2"></i>{% trans 'Services' %}</a>
                                <a class="text-light mb-2" href="#choose-us"><i class="bi bi-arrow-right text-primary me-2"></i>{% trans 'Nous choisir' %}</a>
                                <a class="text-light" href="#contact-us"><i class="bi bi-arrow-right text-primary me-2"></i>{% trans 'Contactez-nous' %}</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">{% trans 'Nos services' %}</h3>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start">
                                <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>{% trans 'Création de sites web'  %}</a>
                                <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>{% trans 'Services digitaux' %}</a>
                                <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>{% trans 'Sécurité électronique' %}</a>
                                <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>{% trans 'Électricité bâtiment' %}</a>
                                <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>{% trans 'Énergie solaire photovoltaïque' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-white" style="background: #061429;">
        <div class="container text-center">
            <div class="row justify-content-end">
                <div class="col-lg-8 col-md-6">
                    <div class="d-flex align-items-center justify-content-between" style="height: 75px; font-size: 14px">
                        <p class="mb-0" >&copy; {% now "Y" %}<span class="text-white"> DISCOM </span>. {% trans 'Tous droits réservés' %}. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Whatsapp Link -->
    <a href="https://wa.me/+237694223136" target="_blank" class="btn btn-lg btn-lg-square whatsapp">
        <img id="button_whatsapp" src="{% static 'img/whatsapp_128.png' %}" alt="Logo de Whatsapp" width="45px" height="45px">
    </a>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        document.getElementById('request-quote-form').addEventListener('submit', function(e) {
            e.preventDefault();

            let form = e.target;
            let formData = new FormData(form);

            fetch("{% url 'site:request_quote' %}", {
                method: "POST",
                headers: {
                    'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value,
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const res = document.getElementById('resultat');
                if (data.success) {
                    res.innerHTML = "<p class='text-success'>Demande de devis envoyée avec succès</p>"
                    form.reset();
                }else {
                    res.innerHTML = data.errors
                }
            })
            .catch(error => {
                console.log("Erreur AJAX :", error);
            });
        });
    </script>

    <script>

        const links = document.querySelectorAll('.navbar-nav a');

        function updateActiveLink(){
            let currentSection = null;

            document.querySelectorAll('section').forEach((section) => {
                const rect = section.getBoundingClientRect();
                if (rect.top <= 0 && rect.bottom > window.innerHeight) {
                    currentSection = section.id;
                }
            });

            links.forEach((link) => {
                if (link.getAttribute('href').substring(1) === currentSection) {
                    link.classList.add('active');
                }else {
                    link.classList.remove('active');
                }
            });
        }


        window.addEventListener('scroll', updateActiveLink);
        window.addEventListener('load', updateActiveLink);
    </script>

    {% block js %}{% endblock js %}
</body>

</html>