{% extends "base.html" %}

{% load static i18n %}

{% block title %} {% trans 'Votre partenaire de transformation digitale' %} {% endblock title %}


{% block css %} 

<style>
    form input, form select{
        height: 55px;
    }
    form label{
        display: none;
    }
    #our-services .service-image img{
        width: 300px;
        height: 150px;
        margin-bottom: 15px;
    }
    form button{
        width: 100%;
    }
    @media (max-width: 576px) {
        .container-lg{
            width: 100%;
            padding-right: 0 !important;
            padding-left: 0 !important;
            margin-right: auto;
            margin-left: auto;
        }
        form input{
            height: 50px;
        }
        form>div{
            padding: 15px;
        }
    }
    
</style>

{% endblock css %}


{% block content %}

  <!-- About Start -->
  <section class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" id="about-us">
      <div class="container py-5">
          <div class="row g-5">
              <div class="col-lg-7">
                  <div class="section-title position-relative pb-3 mb-5">
                      <h5 class="fw-bold text-primary text-uppercase">{% trans 'À propos de nous' %}</h5>
                      <h1 class="mb-0">{% trans 'Votre partenaire de transformation digitale' %}</h1>
                  </div>
                  <div class="mb-4">
                    <p>
                        {% blocktrans %}
                            DISCOM propose des solutions sur mesure de réservation en ligne, création de sites web et l'installation de portails coulissants.
                        {% endblocktrans %}
                    </p>
                    <p>
                        
                        {% blocktrans %}
                            Nous aidons les compagnies de transport à digitaliser leurs services avec des plateformes de réservation intuitives et des sites web performants. 
                            En parallèle, nous installons des portails coulissants modernes pour allier sécurité et confort.
                        {% endblocktrans %}
                        
                    </p>
                  </div>
                  <div class="row g-0 mb-3">
                      <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                          <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>{% trans 'Équipe professionnelle' %}</h5>
                      </div>
                      <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                          <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>{% trans 'Assistance 24H/7J' %}</h5>
                      </div>
                  </div>
                  <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                      <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                          <i class="fa fa-phone-alt text-white"></i>
                      </div>
                      <div class="ps-4">
                          <h5 class="mb-2">{% trans "Appelez-nous pour poser n'importe quelle question" %}</h5>
                          <h4 class="text-primary mb-0">+237 694 223 136</h4>
                      </div>
                  </div>
                  <a href="tel:+237694223136" class="btn btn-primary py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">{% trans 'Demander un devis' %}</a>
              </div>
              <div class="col-lg-5" style="min-height: 500px;">
                  <div class="position-relative h-100">
                      <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{% static 'img/about-2.jpg' %}" style="object-fit: cover;">
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- About End -->


  <!-- Service Start -->
  <section class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" id="our-services">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">{% trans 'Nos services' %}</h5>
            <h1 class="mb-0">
            {% blocktrans %}
              Des solutions digitales sur mesure pour booster votre entreprise.
            {% endblocktrans %}
            </h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-image">
                        <img src="{% static 'img/service-1.png' %}" alt="Création de site web">
                    </div>
                    <h4 class="mb-3">{% trans 'Création de sites web sur mesure' %}</h4>
                    <p class="m-0">{% trans "Des sites modernes, performants et adaptés à votre activité." %}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-image">
                        <img src="{% static 'img/service-2.png' %}" alt="Création de site web">
                    </div>
                    <h4 class="mb-3">{% trans 'Services digitaux' %}</h4>
                    <p class="m-0">{% trans "Accompagnement en transformation numérique, marketing digital et solutions web." %}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-image">
                        <img src="{% static 'img/service-3.png' %}" alt="Création de site web">
                    </div>
                    <h4 class="mb-3 text-nowrap">{% trans 'Système de vidéosurveillance' %}</h4>
                    <p class="m-0">{% trans "Surveillez vos locaux avec des caméras performantes et sécurisées." %}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-image">
                        <img src="{% static 'img/service-6.jpg' %}" alt="Contrôle d'accès">
                    </div>
                    <h4 class="mb-3">{% trans "Contrôle d'accès" %}</h4>
                    <p class="m-0">{% trans "Gérez les entrées avec des solutions fiables et modernes." %}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-image">
                        <img src="{% static 'img/service-7.jpg' %}" alt="Moteur d'un portail automatique">
                    </div>
                    <h4 class="mb-3">{% trans 'Portails automatiques' %}</h4>
                    <p class="m-0">{% trans "Automatiser vos accès avec des portails motorisés robustes." %}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-image">
                        <img src="{% static 'img/service-8.jpg' %}" alt="Création de site web">
                    </div>
                    <h4 class="mb-3 text-nowrap">{% trans 'Réseaux Informatiques' %}</h4>
                    <p class="m-0">{% trans "Réseaux stables, installés et maintenus pour une performance optimale." %}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-image">
                        <img src="{% static 'img/service-4.png' %}" alt="Création de site web">
                    </div>
                    <h4 class="mb-3">{% trans 'Électricité bâtiment' %}</h4>
                    <p class="m-0">{% trans "Des installations électriques sécurisées et conformes aux normes en vigueur." %}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-image">
                        <img src="{% static 'img/service-5.png' %}" alt="Création de site web">
                    </div>
                    <h4 class="mb-3">{% trans 'Énergie solaire photovoltaïque' %}</h4>
                    <p class="m-0">{% trans "Mise en place de solutions écologiques et économiques." %}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.9s">
                <div class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                    <h3 class="text-white mb-3">{% trans "Besoin d'un devis ?" %}</h3>
                    <p class="text-white mb-3">{% trans 'Contactez-nous dès maintenant pour une estimation rapide et sur mesure' %}.</p>
                    <h2 class="fs-5 text-white mb-0">+237 694 223 136</h2>
                </div>
            </div>
        </div>
    </div>
  </section>
   <!-- Service End -->


  <!-- Features Start -->
  <section class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" id="choose-us">
      <div class="container py-5">
          <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
              <h5 class="fw-bold text-primary text-uppercase">{% trans 'Pourquoi nous choisir ?' %}</h5>
              <h1 class="mb-0">{% trans 'Des solutions innovantes et sur mesure pour vos projets professionnels.' %}</h1>
          </div>
          <div class="row g-5">
              <div class="col-lg-4">
                  <div class="row g-5">
                      <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                          <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                              <i class="fa fa-cubes text-white"></i>
                          </div>
                          <h4>{% trans 'Solutions sur mesure' %}</h4>
                          <p class="mb-0">
                            {% blocktrans %}
                                Chaque projet est unique. Nous adaptons nos services à vos besoins pour garantir un résultat efficace.
                            {% endblocktrans %}
                          </p>
                      </div>
                      <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                          <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                              <i class="fa fa-award text-white"></i>
                          </div>
                          <h4>{% trans 'Innovation & qualité' %}</h4>
                          <p class="mb-0">
                            {% blocktrans %}
                                Nous utilisons des technologies modernes pour assurer la fiabilité, la sécurité et la performance de nos solutions.
                            {% endblocktrans %}
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                  <div class="position-relative h-100">
                      <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="{% static 'img/feature-2.png' %}" style="object-fit: cover;">
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="row g-5">
                      <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                          <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                              <i class="fa fa-users-cog text-white"></i>
                          </div>
                          <h4>{% trans 'Expertise polyvalente' %}</h4>
                          <p class="mb-0">
                            {% blocktrans %}
                                Nous combinons digitalisation et automatisation pour offrir des solutions performantes.      
                            {% endblocktrans %}
                          </p>
                      </div>
                      <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                          <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                              <i class="fa fa-phone-alt text-white"></i>
                          </div>
                          <h4>{% trans 'Assistance 24H/7J' %}</h4>
                          <p class="mb-0">
                            {% blocktrans %}
                                Nous vous guidons à chaque étape, du conseil à la mise en place, avec un support réactif et à l'écoute.     
                            {% endblocktrans %}
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Features Start -->


  <!-- Quote Start -->
  <section class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" id="contact-us">
      <div class="container-lg py-5">
          <div class="row g-5">
              <div class="col-lg-7">
                  <div class="section-title position-relative pb-3 mb-5">
                      <h5 class="fw-bold text-primary text-uppercase">{% trans 'Envoyer nous un message' %}</h5>
                      <h1 class="mb-0">{% trans "Besoin d'un devis gratuit ? Contactez-nous dès maintenant !" %}</h1>
                  </div>
                  <div class="row gx-3">
                      <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                          <h5 class="mb-4"><i class="fa fa-reply text-primary me-3"></i>{% trans 'Réponse sous 24h' %}</h5>
                      </div>
                      <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                          <h5 class="mb-4"><i class="fa fa-phone-alt text-primary me-3"></i>{% trans 'Support 24h/24' %}</h5>
                      </div>
                  </div>
                  <p class="mb-4">
                    
                    {% blocktrans %}
                        Nous analysons rapidement votre demande et vous proposons une solution adapté. Notre équipe est disponible pour 
                        répondre à toutes vos questions et vous accompagner.
                    {% endblocktrans %}
                    
                  </p>
                  <div class="d-flex align-items-center mt-2 wow zoomIn" data-wow-delay="0.6s">
                      <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                          <i class="fa fa-phone-alt text-white"></i>
                      </div>
                      <div class="ps-4">
                          <h5 class="mb-2">{% trans 'Appelez-nous pour toute demande' %}</h5>
                          <h4 class="text-primary mb-0">+237 694 223 136</h4>
                      </div>
                  </div>
              </div>
              <div class="col-lg-5">
                <div id="contact-resultat" class="m-2 text-danger wow zoomIn" data-wow-delay="0.9s"></div>
                  <div class="bg-primary rounded h-100 d-flex align-items-center p-md-5 wow zoomIn" data-wow-delay="0.9s">
                      <form id="contact-form" method="post" class="px-lg-0 py-3">
                        {% csrf_token %}
                          <div class="row g-md-3 g-3">
                              {{ contact_form.as_div }}
                              <div class="col-12">
                                  <button class="btn btn-secondary w-100 py-2 py-lg-3" type="submit" onclick="validateForm()">{% trans 'Envoyer un message' %}</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Quote End -->




{% endblock content %}


{% block js %}

<script>
    document.getElementById('contact-form').addEventListener('submit', function(e) {
        e.preventDefault();

        let form = e.target;
        let formData = new FormData(form);

        fetch("{% url 'site:contact_us' %}", {
            method: "POST",
            headers: {
                'X-CSRFToken': form.querySelector('[name=csrfmiddlewaretoken]').value,
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            const res = document.getElementById('contact-resultat');
            if (data.success) {
                res.innerHTML = "<p class='text-success'>Message envoyée avec succès</p>"
                form.reset();
            }else {
                res.innerHTML = data.errors
            }
        })
        .catch(error => {
            console.log("Erreur AJAX :", error);
        });
    });
</script>

{% endblock js %}
  